<template>
  <div>
    <p>Car summary preferences</p>
    <router-link :to="{ name: 'conf_pref', params: { pref: 'car-color' }}">Edit</router-link>
    {{ summary }}
    <p>
    <button> Save </button>
    <button :disabled="!ableToSubmit" > Submit </button>
    </p>
  </div>
</template>
<script>
export default {
  props: ['summary'],
  computed: {
    ableToSubmit: function () {
      return this.summary.carSummary.valid && this.summary.colorSummary.valid
    }
  }
}
</script>
