<template>
  <div class="home">
    <img alt="Vue logo" src="@/assets/logo.png">
    <HelloWorld msg="Welcome to Your Configurator Vue.js Module"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/core/Components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
