<template>
    <div id="posts">
        <keep-alive>
            <component v-if="dataLoaded"
            v-bind:is="currentTabComponent()"
            v-bind="currentProperties"
            v-on:completed="onCompletedStep"
            class="tab"
            ></component>
        </keep-alive>
    </div>
</template>
<style lang="scss">
</style>
<script>
import CarPreference from '../Components/CarPreference.vue'
import CarColorPreference from '../Components/CarColorPreference.vue'
import SummaryPreference from '../Components/SummaryPreference.vue'
import { PreferenceService } from '../Services'

export default {
  name: 'Preference',
  components: {
    CarPreference,
    CarColorPreference,
    SummaryPreference
  },
  data: function () {
    return {
      currentCmp: 'car-preference', // Name is in kebab case style
      tabs: ['List', 'Archive'],
      summary: { carSummary: {}, colorSummary: {} },
      dataLoaded: false // boolean to render child components if data is successfully fetched
    }
  },
  computed: {
    currentProperties: function () {
      if (this.currentCmp === 'summary-preference') {
        return { summary: this.summary }
      }
      if (this.currentCmp === 'car-preference') {
        return { initialData: this.summary.carSummary }
      }
      return {}
    }
  },
  methods: {
    currentTabComponent: function () {
      const kebabCaseCmpName = (this.$route.params.pref)
        ? this.$route.params.pref.toLowerCase() + '-preference'
        : this.currentCmp

      const toUppercase = str => str.toUpperCase()
      const toPascalCase = str => str.replace(/-/g, ' ').replace(/^.|( )./g, toUppercase).replace(/( )/g, '')
      let cmpPascalName = toPascalCase(kebabCaseCmpName)
      // this validation is to avoid redirect to an invalid component
      if (this.$options.components[cmpPascalName]) {
        this.currentCmp = kebabCaseCmpName
      }

      return this.currentCmp
    },
    onCompletedStep: function (event) {
      // this.summary = [].concat.apply(this.summary, event)
      // Object.assign(this.summaryData.summary, event.ddd)
      if (event.carSummary) {
        this.summary.carSummary = event.carSummary
      } else if (event.colorSummary) {
        this.summary.colorSummary = event.colorSummary
      }
    },
    fetchData: function () {
      PreferenceService.getConfiguratorData()
        .then(response => {
          this.summary = response
          this.dataLoaded = true
        })
    }
  },
  created () {
    this.fetchData()
  }
}
</script>
