<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{ name: 'conf_home'}">Configurator Home</router-link> |
      <router-link :to="{ name: 'conf_about'}">Configurator About</router-link> |
      <router-link :to="{ name: 'conf_post'}">Configurator Posts</router-link> |
      <router-link :to="{ name: 'conf_pref', params: { pref: 'car' }}">Configurator Preferences</router-link>
    </div>
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive"></router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive"></router-view>
  </div>
</template>

<style lang="scss">
</style>

<script>
export default {
  name: 'Configurator'
}
</script>
